/* Global Layout Set-up -------------------------------------- */

* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #F4F4F4;
  font-size: 1.3em;
  text-align: center;
}

img {
	width: 100%;
}

p {
	color: #777;
	font-weight: 300;
	line-height: 1.45em;
}

/* Link Styles -------------------------------------- */

a {
	text-decoration: none;
	color: #444;
}

/* h Styles -------------------------------------- */

h1 {
	font-size: 2em;
}

h2 {
	padding: 40px 0;
	font-size: 1.1em;
	color: #444;
	margin: 0;
	font-weight: 600;
}

h3 {
	padding: 20px 20px;
	margin: 16px;
	font-size: 1.1em;
	color: #444;
	font-weight: 500;
}

/* Nav Styles -------------------------------------- */

.nav {
	font-weight: 500;
}

.nav li{
	display: block;
	background: #fff;
	margin: 10px 24px;
}

.nav li a{
	display: block;
	width: 100%;
	padding: 20px;
	font-size: 0.9em;
}

.nav li a:hover{
	color: #0399FF;
}

.name {
	background: none;
}

/* Section Style  -------------------------------------- */

 .wrap {
	margin: 0 auto;

}

.banner {
	margin: 0 auto;
	width: 82%;
	padding: 40px 0;
}

.bannerimg {
		padding: 20px 10px;
}

.profile {
	padding:0 0 0 8px;
}

.profile li{
		display: inline-block;
		margin: 10px 10px;
	}

.profilelink {
	height:80px;
	width: 80px;
	transition: all 0.5s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.profilelink:hover {
	transform: scale(1.2);
	transition: all 0.5s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

main {
	margin: 0 auto;
}

main section {
	background: #fff;
	padding: 0 5% 5px;
	box-shadow: 0 7px 7px -5px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	border-top: solid  4px;
}

main p {
	margin: 0 0 60px;
}

#portfolio {
	border-color: #F5A623;

}

#skills {
	border-color: #50E3C2;
	margin-top: 80px;
}

.contact {
	padding: 50px 7% 70px;
}

.contact p {
	padding: 6px 0;
}

.contact p span {
	font-weight: 500;
	padding-left: 14px;
}

/* Footer Style  -------------------------------------- */

.footer {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	border-top: 1px solid #888;
}

.footer li{
	display: block;
	margin: 10px 0;
}

.footer li a{
	display: block;
	padding: 20px 22px;
	font-size: 0.9em;
}

.footer-name,
.footer-nav li {
	float: left;
}

.footer-nav {
	float: right;
}

li.footer-nav-tablet {
	display: none;
}



/* Tablet Styles  -------------------------------------- */

@media screen and (min-width: 768px) {


	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	/* Global Styles -------------------------------------- */

	body {
		font-size: 1.2em;
	}

	/* h Styles -------------------------------------- */

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size:0.9em;
		padding-bottom: 15px;
	}

	/* Nav Styles -------------------------------------- */

	.nav li{
		display: inline-block;
		background: none;
	}

	.name {
		margin: 10px;
		padding-top: 24px;
	}

	/* Main Styles -------------------------------------- */

	.banner,
	.wrap {
		width: 96%;
	}

	.banner {
		padding: 30px 2% 60px;
		text-align: left;
	}

	.banner p {
		padding: 0 20px;
		font-size: 1.02em;
	}

	.bannerimg {
		float: right;
		width: 45%;
		padding: 20px 20px 0 30px;
	}

	main section {
	padding: 0 1% 5px;
}

	.profile li{
		margin: 0 10px;
	}

	.profilelink{
		height:50px;
		width: 50px;
	}

	.card {
		float: left;
		width: 50%;
		padding: 20px;
	}

	.card:nth-child(2n){
    clear:both;
	}

	.contact {
		max-width: 900px;
		margin: 0 auto;
	}

	.contact p {
		font-size: 1.12em;
	}

	/* Footer Styles -------------------------------------- */

	.footer {
		max-width: 1100px;
	}

    li.footer-nav-tablet {
		display: block;
	}

	li.footer-nav-mob {
		display: none;
	}


}



/* Laptop Styles  -------------------------------------- */

@media screen and (min-width: 1024px) {


	/* Sturcture Style  -------------------------------------- */

	.wrap {
		width: 100%;
		max-width: 1100px;
		padding: 10px 20px;
	}

	/* h Style  -------------------------------------- */

	h2 {
		margin-bottom:15px;
	}

	/* Nav Style  -------------------------------------- */

	.main-nav {
		width: 100%;
		max-width: 1100px;
		margin: 10px auto 0;
		padding: 0 30px 0 40px;
	}

	.name {
		float: left;
	}

	.nav {
		float: right;
	}

	.nav li a{
		margin: 10px 4px;
		padding: 10px 4px;
	}

	/* Main Style  -------------------------------------- */

	.banner,
	main {
		max-width: 1100px;
	}

	.banner p {
		font-size: 1.2em;
	}

	.bannerimg {
		width: 40%;
	}

	.profile {
		clear: none;
	}

	.card {
		float: left;
		width: 33.3333%;
		padding: 1.33%;
	}

	.card:nth-child(2n){
    clear:none;
	}

	.card:nth-child(4n+1){
    clear: both;
	}

	.contact p {
		font-size: 1.15em;
	}

	.name {
		margin-top: 0;
	}


}
