// Typography

$base-font-size:              16;
$base-line-height:            24;

// Fonts

$font-family--primary: arial;

// Weights

$font-weight--light: 200;
$font-weight--medium: 500;
$font-weight--bold: 700;
